



    <%= image_tag(@product.image_url(:default)) %>
    </p>
    <div class="jumbotron", style="width:50rem">
      <h1 class="display-10"><%= @product.title%>
      <%if !product_owner(@product)%>
         <%=button_to 'Add to Cart', line_items_path(product_id: @product), class:"btn btn-warning mr-1 float-right" %>
      <%end%>
        </h1>
      <p class="lead"><%= number_to_currency(@product.price, unit: "PKR ", precision:0) %></p>
      <p class="lead"><%= @product.description %></p>
      <p class="lead"><%= @product.make %></p>
      <p class="lead"><%= @product.serial_number %></p>
      <hr class="my-4">
      <p>
      <strong>Sold By:</strong>
      <%= @product.user.name %>
      </p>
      <%if product_owner(@product)%>
      <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-warning mr-3" %>
      <%= link_to 'Delete', @product,method: :delete, data: {confirm: "Are your sure?"} , class:"btn mr-3 btn-danger" %>
      <%end%>
    <%= link_to 'Back', products_path , class:"btn btn-dark" %>


    </div>











<%
=begin%>
 <div class="jumbotron">
<h2><%= @product.title %>   <%= link_to 'Add to cart', products_path , class:"btn btn-warning float-right " %></h2>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>



<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>



<p>
  <strong>Make:</strong>
  <%= @product.make %>
</p>
<p>
  <strong>Sold By:</strong>
  <%= @product.user.name %>
</p>
</div>

 <%if product_owner(@product)%>
   <%= link_to 'Edit', edit_product_path(@product), class:"btn btn-warning mr-3" %>
   <%= link_to 'Delete', @product,method: :delete, data: {confirm: "Are your sure?"} , class:"btn mr-3 btn-danger" %>
  <%end%>
<%= link_to 'Back', products_path , class:"btn btn-dark" %>
<%
=end%>
